/* General */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  font-size: 400;
  /* font-family: 'Roboto', sans-serif;} */
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: gold;
}
img{
  width: 100%;
}
svg{
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
svg:hover {
  fill: grey; /* Change the color on hover */
}
/* Navbar */
.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 15px 10px 15px;
  background:rgba(255, 255, 255);
  z-index: 2;
}
.navbar-brand img{
  width: 50px;
}
.navbar-toggler{
  border: none;
}

/* Personal Profile Section */
.personal-info-section{
  position: relative;
  padding:120px 0px 150px 0px;
  background-image: url(./imgs/background2.jpg);
  background-size:cover;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.personal-info-section-container{
  max-width: 1080px;
  margin: auto;
}
.profile-container{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-img{
  border-radius: 100%;
  width: 200px;
}
.profile-content-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-context{
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile-context-list{
  border-top: 3px black solid;
  padding-top: 5px;
}
.profile-btn{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  padding: 0px 30px 5px 30px;
  width: 200px;
  margin: auto;
  color: white;
}
/* Interest Section */
.interest-section-container{
  max-width: 1080px;
  margin: auto;
}
.interest-section-container img{
  width: 50px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%); 
}

/* Previous-work-section */
.previous-work-section{
  background-color: #86a2c0;
  color: white;
  padding-bottom: 20px;
}
.previous-work-section-container{
  max-width: 1080px;
  margin: auto;
}
@media (max-width: 700px) {
  .profile-container{
    width: 100%;
  }
}