* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* color: white; */
  /* font-family: "Montserrat", sans-serif; */
}
a{
  text-decoration: none;
}
svg{
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
svg:hover {
  fill: grey; /* Change the color on hover */
}
.card-body img {
  width: 100%;
}
.card-title {
  font-size: 20px;
}
